table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    border-collapse: collapse;
    color: #000000;
}
caption {
    padding: 10px;
    color: white;
    background: #8FD4C1;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}
td {
    border-bottom: 1px solid #000000;
    padding: 15px;
    text-align: center;
}

tr:nth-child(odd) {
    background: white;
}
tr:nth-child(even) {
    background: #FFF0A9;
}
.boldtext{
    font-weight: bold;
}
